<!DOCTYPE html>
 
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='$Lang' lang='$Lang'>

<head>

<title>$WikiTitle : $Group / $Title : $Action</title>

<meta http-equiv='content-type' content='text/html; charset=$CharSet' />
<meta name='author' content='PmWiki' />
<meta name='generator' content="2.2" />

<link rel='stylesheet' type='text/css' media='screen, projection' href='$SkinDirUrl/simple.css' />

<!--HTMLHeader-->

<link rel='icon' type='image/ico' href='$SkinDirUrl/gfx/favicon.ico' />
<link rel='shortcut icon' type='image/ico' href='$SkinDirUrl/gfx/favicon.ico' />

<script type="text/javascript" src="$SkinDirUrl/jquery.min.js"></script>
<script type="text/javascript" src="$SkinDirUrl/support.js"></script>
<script type="text/javascript">
//<![CDATA[

var wp_privacy = parseInt(readCookie('wp_privacy'));
var menu_active = false;
var $d;
var template_url = '$SkinDirUrl';

var textSizeUnit = 'pt';
var textSizeStep = 1;
var textSizeMax = 16;
var textSizeMin = 8;
var textSizeDefault = 10;

var cookie = readCookie("pm_textsizestyle");
var textsize = cookie ? parseInt(cookie) : textSizeDefault;

var cookie_toggle = readCookie("pm_textstyle");
var textstyle = cookie_toggle ? cookie_toggle : 'serif';

if(textsize < textSizeMin || textsize > textSizeMax) {
    textsize = textSizeDefault;
}
setInitialFontSize(textsize, textstyle);
//]]>
</script>
</head>

<body>

<!--PageHeadFmt-->
<div id='wiki-head' class='wiki-head'>
	<div style="float:right;position:absolute;right:0;top:0;">
	<form id="searchbox" action='$ScriptUrl' method='get'>
	<fieldset style="border:0;margin:0;padding:0;">
		<input class="textfield searchfield" type='text' name='q' value='{$Search}' size='17' onfocus="if(this.value=='{$Search}')value=''" onblur="if(this.value=='')value='{$Search}';" />
		<input type='hidden' name='action' value='search' />
		<input type='hidden' name='n' value='Site.Search' />
		<input type='submit' value=' ' class="searchbutton" />
	</fieldset>
	</form>
	<a style="color:white;font-size:10px;font-weight:bold;margin-right:4px;" href="?action=search">Advanced search</a>
	</div>	
	<!--PageTopFmt-->
	<div id='wiki-top' class='wiki-top'>
	    <!--wiki:{$SiteGroup}.TopBar-->
	</div>
	<!--/PageTopFmt-->
	<a style="position:absolute;left:0px;top:10px; margin:10px 30px;font-size:16pt;color:white;" href="/">PocketWiki</a>
</div>
<!--/PageHeadFmt-->

<!--PageInfoFmt-->
<div id='wiki-info' class='wiki-info'>
	&gt;<strong>You are here: </strong><!--function:SmPrintTrail-->
		<div style="float:right;">
		<span title="Increase content text size" id="fontinc">&nbsp;</span>
		<span title="Decrease content text size" id="fontdec">&nbsp;</span>
		<span title="Toggle serif or sans serif font" id="fonttoggle">&nbsp;</span>
		<span class="greedlink" id="fontsize">&nbsp;&nbsp;&nbsp;</span>
		</div>
	<!--wiki:{$SiteGroup}.InfoBar-->
</div>
<!--/PageInfoFmt-->

<div id='wiki-wrap' class='wiki-wrap'>
<div id="container">
<table class="content_table">
<tr>
<!--PageLeftFmt-->
<td id="wiki-left" style="width:250px;vertical-align:top;">
	<!--wiki:{$Group}.SideBar {$SiteGroup}.SideBar-->
</td>
<!--/PageLeftFmt-->
<td id="wiki-page" style="width:100%;">
	<!--PageText-->
</td>
</tr>
</table>
</div>
</div>
<!--PageFootFmt-->
<div id='wiki-foot' class='wiki-foot'>
	<!--wiki:{$SiteGroup}.FootBar-->
</div>
<!--/PageFootFmt-->

<!--HTMLFooter-->
	<script type="text/javascript">
   	// <![CDATA[
   	
    	var anchor = document.getElementsByTagName('SCRIPT')[0];
		var t2 = document.createElement('SCRIPT');
		t2.type = "text/javascript";
		t2.async = true;
		t2.src = "$SkinDirUrl/support_footer.js?ver=1.1.0";
		anchor.parentNode.insertBefore(t2, anchor);
   	
		function toggleObj(obj, tog, show, hide, swap, set, cname, button) {
			var e = document.getElementById(obj);
			if (hide && swap!='') var e2 = document.getElementById(swap);
			var text    = document.getElementById(obj + "-tog");
			if (set=='1') document.cookie=cname+'='+tog+'; path=/';
			if (tog=='show') {
				e.style.display = 'block';
				if(swap!='') e2.style.display = 'none';
				var label = hide;
				tog='hide';				
			}
			else {
				e.style.display = 'none';
				if(swap!='') e2.style.display = 'block';
				var label = show;
				tog='show';
			}

         var act = '"javascript:toggleObj(\''+obj+'\',\''+tog+'\',\''+show+'\',\''+hide+'\',\''+swap+'\',\''+set+'\',\''+cname+'\',\''+button+'\');"';
         if (button==1)
         	copy = '<input type="button" class="inputbutton togglebutton" value="'+label+'" onclick='+act+' />';
         else
         	var copy = '<a class="togglelink" href='+act+'>'+label+'</a>'; 
         text.innerHTML = copy;   	 
      	}
	// ]]>
	</script> 
</body>

</html>
